div {
    /*border: 1px solid black;*/
}

.update-button {
    background-color: rgb(201, 210, 215);
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    margin: 5px;
    color: rgb(120, 135, 140);
}

.content {
    display: grid;
    width: 60%;

    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas:
        "weather-here-title weather-here-update weather-here-update _"
        "weather-here-main weather-here-main weather-parameters weather-parameters"
        "favourite-title favourite-title favourite-update favourite-update";

    border: solid 1px;
    padding: 5px 30px;
    margin: auto;
}

.weather-here-title {
    grid-area: weather-here-title;
    font-size: 30px;
    color: rgb(113, 130, 133);
}

.weather-here-update {
    grid-area: weather-here-update;
    text-align: center;
}

.weather-here-main {
    grid-area: weather-here-main;
}

.weather-here-data {
    grid-area: weather-here-data;
    display: flex;
    justify-content: space-between;
}

.weather-here-image {
    flex-grow: 2;
    /*border: 1px solid;*/
}

.weather-here-image img {
    width: 100px;
    height: 100px;
    border: solid 1px;
}

.weather-here-temp {
    color: rgb(124, 124, 124);
    font-size: 80px;
    flex-basis: 225px;
}

.weather-parameters {
    grid-area: weather-parameters;
}

.parameter {
    background-color: rgb(167, 175, 176);
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.value {
    margin: 5px;
}

.favourite-title {
    grid-area: favourite-title;
    font-size: 30px;
    color: rgb(113, 130, 133);
}

.favourite-update {
    grid-area: favourite-update;
    display: inline;
    text-align: right;
}

.add-field {
    background-color: rgb(241, 241, 241);
    border: 0;
    height: 30px;
    width: 300px;
    margin: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

.add-button {
    background-color: rgb(112, 129, 136);
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 5px;
    color: white;
}